
#esta es la pagina central del blog
<h1> Bienvenido usuario  <%= @nombre   %> </h1>
<p><%=  @comentario %></p>
<%= form_tag :action => 'form' do %>
<div id="info">
<p> Name:
<%= text_field_tag 'nombre_usuario' , @nombre %> </p>


<%= submit_tag 'Registrarse' %>
<% @nombres.each do |n| %>
<%= n.nombre %>
<br>
<br>
<% end %>
<% end %>
</div>

